.home{
    .inline{
        display: inline;
    }

    .img{
        position: relative;
        margin-top: 35px;
        box-shadow: 5px 5px 10px orange;
        border: solid 1px black;
    }

    .textOverImg{
       color: snow;
       text-shadow: 1px 1px 8px black;
       position: absolute;
       top: 15px;
       right: 15px;
       padding-top: 5px;
       padding-right: 12px;
       padding-bottom: 5px;
       padding-left: 12px;
       background: rgba(0,0,0,0.4);
       font-size: 1.75em;
   }

   .glyphiconSize{
        font-size: 0.7em;
   }
}