<div ng-controller="CountriesCtrl">
    <h1>Paises</h1>

    <div ng-include="'views/progressBar.html'" ng-show="uiState=='loading'">
    </div>

    <div ng-include="'views/noData.html'" ng-show="uiState=='blank'">
    </div>

    <div ng-include="'views/errorLoadingData.html'" ng-show="uiState=='error'">
    </div>

    <table class="table table-striped" ng-show="uiState=='ideal'">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Bandera</th>
                <th>Votos positivos</th>
                <th>Votos negativos</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in model">
                <td>
                    {{::item.name }}
                </td>
                <td>
                    <img ng-src="{{::item.flag }}" alt="bandera" style="width: 100px">
                </td>
                <td>
                    {{::item.upVotes }}
                </td>
                <td>
                    {{::item.downVotes }}
                </td>
                <td>
                    <a href="{{::item.link }}">VER</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>