<div ng-controller="CountryDetailCtrl">
    <h1>detalle pais</h1>

    <button type="button" class="btn btn-default" ng-click="upVote()">UpVote</button>
    <button type="button" class="btn btn-default" ng-click="downVote()">DownVote</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Bandera</th>
                <th>Votos positivos</th>
                <th>Votos negativos</th>
                <th>Destinos</th>
                <th>Hoteles</th>
                <th>Restaurantes</th>
            </tr>
        </thead>
        <tbody>
                <td>
                    {{::model.name }}
                </td>
                <td>
                    <img ng-src="{{::model.flag }}" alt="bandera" style="width: 100px">
                </td>
                <td>
                    {{ model.upVotes }}
                </td>
                <td>
                    {{ model.downVotes }}
                </td>
                <td>
                    <a href="{{::model.destinations }}">Destinos</a>
                </td>
                <td>
                    <a href="{{::model.hotels }}">Hoteles</a>
                </td>
                <td>
                    <a href="{{::model.restaurants }}">Restaurantes</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>