<div ng-controller="DestinationDetailCtrl">
    <h1 class="fontUnkempt">{{::model.name }}</h1>
    <br>

    <div ng-include="'views/progressBar.html'" ng-show="uiState=='loading'">
    </div>

    <div ng-include="'views/noData.html'" ng-show="uiState=='blank'">
    </div>

    <div ng-include="'views/errorLoadingData.html'" ng-show="uiState=='error'">
    </div>

    <div ng-show="uiState=='ideal'">

        <button type="button" class="btn btn-default" ng-click="upVote()">UpVote</button>
        <button type="button" class="btn btn-default" ng-click="downVote()">DownVote</button>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>País</th>
                    <th>Imagen principal</th>
                    <th>Imagen 1</th>
                    <th>Imagen 2</th>
                    <th>Imagen 3</th>
                    <th>Opinión</th>
                    <th>Votos positivos</th>
                    <th>Votos negativos</th>
                </tr>
            </thead>
            <tbody>
                <td>
                    {{::model.name }}
                </td>
                <td>
                    {{::model.country }}
                </td>
                <td>
                    <img ng-src="{{::model.picture_main }}" alt="img_main" style="width: 100px">
                </td>
                <td>
                    <img ng-src="{{::model.picture_1 }}" alt="img_1" style="width: 100px">
                </td>
                <td>
                    <img ng-src="{{::model.picture_2 }}" alt="img_2" style="width: 100px">
                </td>
                <td>
                    <img ng-src="{{::model.picture_3 }}" alt="img_3" style="width: 100px">
                </td>
                <td>
                    {{::model.opinion }}
                </td>
                <td>
                    {{ model.upVotes }}
                </td>
                <td>
                    {{ model.downVotes }}
                </td>
            </tbody>
        </table>
    </div>
</div>