<div class="home">

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1 class="inline fontUnkempt">BabelAdvisor</h1>
                <h4 class="inline">¿Adónde quieres ir hoy?</h4>
            </div>
            <div class="panel-body">
                <p>Hola {{ model.user }}, aquí encontrarás una selección de destinos, hoteles y restaurantes en varios de los paises de Europa elegidos por usuarios como tú.</p>

                <br>

                <p>Te invitamos a navegar por la web hasta que encuentres lo que buscas o contribuir a la comunidad con tus propias experiencias.</p>

                <br>

                <p>¡Disfruta!</p>

            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 left-panel">
        <div class="col-xs-12 row margin-top">
            <div class="col-xs-12">
                <center class="section">
                    Navegar
                </center>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 margin-top">
                <a href="#/users">
                    <div class="img-container">
                        <img src="http://www.hurriyetdailynews.com/images/news/201207/n_25350_1.jpg" alt="usuarios" class="img-responsive img-scalable">
                    </div>
                    <h2 class="textOverImg">
                        Usuarios <span class="glyphicon glyphicon-user glyphiconSize"></span>
                    </h2>
                </a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 margin-top ">
                <a href="#/countries">
                    <div class="img-container">
                        <img src="../public/paises.jpg" height="900" width="900" alt="paises" class="img-responsive img-scalable">
                    </div>
                    <h2 class="textOverImg">
                        Países <span class="glyphicon glyphicon-globe glyphiconSize"></span>
                    </h2>
                </a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 margin-top ">
                <a href="#/destinations">
                    <div class="img-container">
                        <img src="https://image.freepik.com/free-photo/loupe--road--chart--destination_3312369.jpg" alt="destinos" class="img-responsive img-scalable">
                    </div>
                    <h2 class="textOverImg">
                        Destinos <span class="glyphicon glyphicon-map-marker glyphiconSize"></span>
                    </h2>
                </a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 margin-top ">
                <a href="#/hotels">
                    <div class="img-container">
                        <img src="http://portoribeira.carrishoteles.com/en/images/hab3_1g.jpg" alt="hoteles" class="img-responsive img-scalable">
                    </div>
                    <h2 class="textOverImg">
                        Hoteles <span class="glyphicon glyphicon-header glyphiconSize"></span>
                    </h2>
                </a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 margin-top lastElement">
                <a href="#/restaurants">
                    <div class="img-container">
                        <img src="http://myasorin.ro/img/restaurant.jpg" alt="restaurantes" class="img-responsive img-scalable">
                    </div>
                    <h2 class="textOverImg">
                        Restaurantes <span class="glyphicon glyphicon-cutlery glyphiconSize"></span>
                    </h2>
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 right-panel">
        <div class="col-xs-12 row" style="margin-top: 35px">
            <div class="col-xs-12">
                <center class="section">
                    Contribuir
                </center>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 margin-top ">
                <a href="#/destinations/new">
                    <div class="img-container">
                        <img src="https://image.freepik.com/free-photo/loupe--road--chart--destination_3312369.jpg" alt="destinos" class="img-responsive img-scalable">
                    </div>
                    <h2 class="textOverImg">
                        Destinos <span class="glyphicon glyphicon-map-marker glyphiconSize"></span>
                    </h2>
                </a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 margin-top ">
                <a href="#/hotels/new">
                    <div class="img-container">
                        <img src="http://portoribeira.carrishoteles.com/en/images/hab3_1g.jpg" alt="hoteles" class="img-responsive img-scalable">
                    </div>
                    <h2 class="textOverImg">
                        Hoteles <span class="glyphicon glyphicon-header glyphiconSize"></span>
                    </h2>
                </a>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 margin-top lastElement">
                <a href="#/restaurants/new">
                    <div class="img-container">
                        <img src="http://myasorin.ro/img/restaurant.jpg" alt="restaurantes" class="img-responsive img-scalable">
                    </div>
                    <h2 class="textOverImg">
                        Restaurantes <span class="glyphicon glyphicon-cutlery glyphiconSize"></span>
                    </h2>
                </a>
            </div>
        </div>
    </div>

</div>