<div ng-controller="HotelDetailCtrl">
    <h1>Detalle hotel</h1>

    <div ng-include="'views/progressBar.html'" ng-show="uiState=='loading'">
    </div>

    <div ng-include="'views/noData.html'" ng-show="uiState=='blank'">
    </div>

    <div ng-include="'views/errorLoadingData.html'" ng-show="uiState=='error'">
    </div>

    <div ng-show="uiState=='ideal'">

        <button type="button" class="btn btn-default" ng-click="upVote()">UpVote</button>
        <button type="button" class="btn btn-default" ng-click="downVote()">DownVote</button>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>País</th>
                    <th>Imagen</th>
                    <th>Opinion</th>
                    <th>Precio</th>
                    <th>Url</th>
                    <th>Votos positivos</th>
                    <th>Votos negativos</th>
                </tr>
            </thead>
            <tbody>
                <td>
                    {{::model.name }}
                </td>
                <td>
                    {{::model.country }}
                </td>
                <td>
                    <img ng-src="{{::model.picture }}" alt="img" style="width: 100px">
                </td>
                <td>
                    {{::model.opinion }}
                </td>
                <td>
                    {{::model.price }}
                </td>
                <td>
                    <a href="{{::model.url }}">Más info</a>
                </td>
                <td>
                    {{ model.upVotes }}
                </td>
                <td>
                    {{ model.downVotes }}
                </td>
            </tbody>
        </table>
    </div>
</div>