<div ng-controller="HotelsCtrl">
    <h1>Hoteles</h1>

    <a href="#/hotels/new"><button type="button" class="btn btn-primary">Nuevo!</button></a>

    <div ng-include="'views/progressBar.html'" ng-show="uiState=='loading'">
    </div>

    <div ng-include="'views/noData.html'" ng-show="uiState=='blank'">
    </div>

    <div ng-include="'views/errorLoadingData.html'" ng-show="uiState=='error'">
    </div>

    <table class="table table-striped"  ng-show="uiState=='ideal'">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>País</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Votos positivos</th>
                <th>Votos negativos</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in model">
                <td>
                    {{::item.name }}
                </td>
                <td>
                    {{::item.country}}
                </td>
                <td>
                    <img ng-src="{{::item.picture }}" alt="imagenHotel" style="width: 100px">
                </td>
                <td>
                    {{::item.price}}
                </td>
                <td>
                    {{::item.upVotes }}
                </td>
                <td>
                    {{::item.downVotes }}
                </td>
                <td>
                    <a href="{{::item.link }}">VER</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>