<div ng-controller="RestaurantDetailCtrl">
    <h1>detalle restaurante</h1>

    <button type="button" class="btn btn-default" ng-click="upVote()">UpVote</button>
    <button type="button" class="btn btn-default" ng-click="downVote()">DownVote</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>País</th>
                <th>Imagen</th>
                <th>Opinion</th>
                <th>Comida</th>
                <th>Url</th>
                <th>Votos positivos</th>
                <th>Votos negativos</th>
            </tr>
        </thead>
        <tbody>
                <td>
                    {{::model.name }}
                </td>
                <td>
                    {{::model.country }}
                </td>
                <td>
                    <img ng-src="{{::model.picture }}" alt="img" style="width: 100px">
                </td>
                <td>
                    {{::model.opinion }}
                </td>
                <td>
                    {{::model.type }}
                </td>
                <td>
                    <a href="{{::model.url }}">Más info</a>
                </td>
                <td>
                    {{ model.upVotes }}
                </td>
                <td>
                    {{ model.downVotes }}
                </td>
            </tr>
        </tbody>
    </table>
</div>